@import '../../config/variables';

.content {
	margin: 0 auto;
	padding-bottom: $distance;
	padding-top: $distance;
}

.headerWrapper {
	margin-bottom: 3rem;
	margin-top: 1rem;
	width: 100%;
}

.header {
	background-color: #333;
	color: #fff;
	padding: $distance;
	text-align: center;
	width: 100%;
	margin: 1rem 0;
	font-size: 1rem;
}

.information {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.infoBlock {
	display: flex;
	flex-direction: column;
	margin: $distance $distance;
	text-align: left;
}